@font-face {
  font-family: "AkzidenzGroteskBECN";
  src: url('../fonts/akzidenzgroteskbecn-webfont.eot');
  src: url('../fonts/akzidenzgroteskbecn-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/akzidenzgroteskbecn-webfont.woff') format('woff'),  url('../fonts/akzidenzgroteskbecn-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkzidenzGroteskBECNBD";
  src: url('../fonts/akzidenzgroteskbexbdcn-webfont.eot');
  src: url('../fonts/akzidenzgroteskbexbdcn-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/akzidenzgroteskbexbdcn-webfont.woff') format('woff'),  url('../fonts/akzidenzgroteskbexbdcn-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica.eot');
  src: url('../fonts/helvetica.eot?#iefix') format('embedded-opentype'),  url('../fonts/helvetica.woff') format('woff'),  url('../fonts/helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "AkzidenzGroteskBECN", Sans-serif;
  background: url(../img/bg.jpg) ;
  background-size: 100% 100%;
 
}

.left{
  float: left;
}

.right{
  float: right;
}

.clear{
  clear:both;
}

.float-none{
  float: none;
}

.bold-font{
  font-family: "AkzidenzGroteskBECNBD";
   color: #ee655c;

}

a{
  color:#991C24;
}

a:hover{
  text-decoration: none;
  color:#6f1419;
}

.block{
  background: rgba(0,0,0,.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  color: #FFF;
  font-size: 80px;
  text-align: center;
  padding-top: 15%;
  display: none;
}

.block h3{
  font-size: 80px;
}

.button {
    display: inline-block;
    padding: 1em;
    background-color: #ee655c;
    text-decoration: none;
    color: white;
}

.bg-cover2{
  background: url(../img/bgheader.jpg) no-repeat 0 270px;
  background-size: cover;
}

.video-box{
  background: red;
  width: 100%;
  height: 350px;
}


.navbar-default {
  background-color: none;
  border-color: none;
  border: none;
  background: transparent url(../../assets/img/bgmenu.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 90px;
  margin-top: 5%;
}

.clear {
  height: 200px;

}

.navbar-brand {
  float: left;
  padding: 20px;
  padding-left: 100px;
  font-size: 18px;
  line-height: 20px;
  height: 80px;
}

.nav-tabs{
  border-bottom: none;
}

.navbar-nav>li>a {
  padding: 0px 100px 5px 0;  
}

.navbar-default .navbar-nav>li>a {
  color: #111;
}

.navbar-nav>li>a :hover{
  color: rgba(153,28,36,1);
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color:rgba(153,28,36,1);
}

#scene-tabs{
  display: inline-block;
}

.scene-tabs-wrapper{
  text-align: center;
}

.nav-tabs>li>a{
  color:#cecece;
  font-size: 32px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: rgba(153,28,36,1);
  border:none;
  cursor: default;
  font-size: 32px;
  border-bottom:5px solid #fcd060;
  padding-bottom: 10px;
  background: transparent;
}

.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background-color: transparent;
  color: #d49782;
  border: none;
}

.header-left {
  margin: 30px 0 50px 0;
  
}

.header-right{
  padding: 50px 20px;
  color: #111;
}

.header-right h1{
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.profile{
  width: 80px;
  border: 5px solid #ffca40;
}

.main-video-wrapper video{
  width: 100%;
}

.center-align-text {
  text-align: center;
}

.cek-scene-btn.hvr-shutter-out-vertical{
  background: transparent;
  text-decoration: none;
}
.cek-scene-btn.hvr-shutter-out-vertical:before{
  background: #ee655c;
}

.cek-scene-btn{
  color: #ee655c;
  font-size: 32px;
  padding: 10px;
}

#home-submission-video, .video-galeri, .prize-container-wrapper, .upload-process-wrapper{
  background-color: rgba(255, 255, 255, 0.7);
}

.profile-wrapper{
  font-size: 22px;
}

#register-form{

}

.video-galeri{
  padding-top: 20px;
}

#footer {
  background-color: #fff;
}

.video-panel{
  background-color: #fff;
  cursor: pointer;
}

.video-panel:hover{
  opacity: .8;
}

.submission-video-wrapper{
  margin-bottom: 30px;
}

.video-img-wrapper{
  width: 100px;
}

.video-wrapper{
  position: relative;
}

#video-modal-label{
  font-weight: bold;
  font-size:32px;
  margin: 0;
}

.modal-header{
  padding-bottom: 0;
}

#video-modal-author{
  font-weight: bold;
  font-size:22px;
  color: #a4a4a4;
}


.video-title-wrapper .title{
  color: #99372c;
  font-size:30px;
  padding: 0;
  margin: 0;
}

.video-title-wrapper .author{
  color: #000;
  font-size: 12px;
  font-family: "Helvetica", Sans-serif;
}

.video-play-ctrl{
  position: absolute;
  top: 30%;
  left: 40%;
}

.video-cover{
  width: 100%;
}

.video-caption{
  padding: 20px;
  color: #111;
}

.video-caption span {
  color: #c76357;
  font-weight: 700;
}

.disabledTab{
    pointer-events: none;
}

.mekanisme h3{
    font-family: "AkzidenzGroteskBECNBD";
}

.mekanisme li{
  font-size: 20px;
}

#footer{
  font-family: "Helvetica";
  font-size: 12px;
}

#footer .footer-block{
  padding:10px 0;
}

#footer .copyright{
  margin-top: 10px;
  margin-left: 10px;
}


.pvp-tnc-wrapper{
  margin-top: 10px;
  color: #000;
}

.pvp-tnc-wrapper a{
  color: #000; 
}

.form-control {
  display: block;
  width: 100%;
  height: 44px;
  padding: 15px;
  font-size: 20px;
  line-height: 1.42857143;
  color: #333;
  background-color: #E4E4E4;
  background-image: none;
  border: none;
  border-radius: 0;
 }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #D7D7D7;
  color: #AEAEAE;
  opacity: 1;
}

 .errors{
  color:#e12f2f;
  font-size: 18px;
 }

.errors p{
  margin: 0;
}

.tnc-ckbox-txt{
  font-weight: bold;
  font-size: 22px;
}

.btn-default {
  color: #333;
  background: transparent;
  height: 44px;
  font-size: 20px;
  line-height: 1.42857143;
  padding: 5px 30px;
  border: solid 3px #991c24;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
  float: none;
  margin-right: 20px;
}

.pagination-wrapper{
  text-align: center;
}

.pagination>li>a, .pagination>li>span{
  color: #ee655c;
  font-size: 24px;
}

.pagination>.active>a, .pagination>.current>a, .pagination>a.current, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
  border-color: #ee655c;
  background: #ee655c;
  color: white;
}

.nav {
  /*margin-left: 30px;
   padding-left: 0; */
  list-style: none;
}

.section-tabs {
  background-color: none;
 
}

.radio-tabs{
   margin-left: 22px;
   background-color: rgba(255,207,33,0.8);
    padding: 25px 45px;
    color: #991c24;
    font-size: 20px;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  color: #96412a;
  background-color: #eee;
  border-color: #ddd;
}




.clips a.scene-1{
  background:#d5e286;
}

.clips a.take-1{
  background:#b6d884; 
}

.clips a.scene-2{
  background:#8fcd9e;
}

.clips a.take-2{
  background:#82ccb5; 
}

.clips a.scene-3{
  background:#6acbde;
}

.clips a.take-3{
  background:#6abde9; 
}


.clips{
  width: 100%;
}

.clips a{
  font-size: 14px;
  font-family: "Helvetica";
  color:#333;
  display: block;
  width: 20%;
  text-align: center;
  border: none;
  float: left;
  padding: 10px;
  text-decoration: none;
  padding-top: 15px;
  transition: background-color 0.2s ease;
}

.clips .finale{
  width: 25%;
  background: #6fabdd;
}

.clips a.take-1,.clips a.take-2,.clips a.take-3{
  width: 5%;
}



.clips a.playing, .clips a.paused, .clips a.progress {
  background: #e43f34;
  font-weight: bold;
  border-radius: 0;
}



.clips a:hover{
  background: #f34d4b;
}



.btn-browse{
  background: none;  
  padding: 8px 20px;
  margin: -20px;
}

.textbox-search{
  float:left;
}

.btn-search{
  background: #e5e5e5;
  padding: 12px 20px;
}

.btn-upload{
  padding: 10px 20px;
  background-color: #991c24;
  color: #fff;
  width: 100px;
  border:none;

}

.errorMessage {
  background: #ee655c;
  color: #fff;
  padding: 20px;
}

.fileList{  
  position: relative;
  margin-top: -10px;
  color: #333;
}

.progress-bar{
  background: rgba(152, 221, 11, 0.79);
  height: 100%;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
}

#pickfiles{
    border: 3px solid transparent;
}

#pickfiles:hover{
    border: 3px solid rgb(255, 176, 5);
    background: rgb(255, 176, 5);
}
/**********************************/

#flowplayer-modal .modal-dialog{
  width: 700px;
  height: 500px;
}

#player-area{
  display: block;
}

#player-area img{
  width: 100%;
}

a.player {
    display:block;
    width:100%;
    text-align:center;
    color:#fff;
    text-decoration:none;
    cursor:pointer;
    background:#000 url(http://flash.flowplayer.org/media/img/global/gradient/h500.png) repeat-x 0 0;
    background:-moz-linear-gradient(top,
                                    rgba(55, 102, 152, 0.9),
                                    rgba(6, 6, 6, 0.9));
    -moz-box-shadow:0 0 40px rgba(100, 118, 173, 0.5);
}

a.player:hover {
    background:-moz-linear-gradient(center top,
                                    rgba(73, 122, 173, 0.898),
                                    rgba(6, 6, 6, 0.898));
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus  {
  color: rgba(255,28,36,1);
  background: transparent;
}


.textbox-search{
  float:left;
}

.btn-search{
  background: #e5e5e5;
  padding: 12px 20px;
}

.navbar-brand {
  float: left;
  padding-left: 100px;
  font-size: 18px;
  line-height: 20px;
  height: 80px;
}

.navbar-brand img{
  width: 210px;
  margin-top: -5px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-align: center;
  margin-left: 100px;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default {
  background-color: none;
  border-color: none;
  border: none;
  background: transparent url(../../assets/img/bgmenu.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 60px;
  margin-top: 5%;
}

.nav>li {
  position: relative;
  display: block;
  text-align: center;
  width: 120px;
}

.logo-mcd img{
  float:right;
  margin-top: 40px;
  margin-right: 30px;
  width: 40px;
  position: relative;
}

.box-mechanism{
  border-radius: 20px;
  border: 2px solid rgba(153,28,36,1);
  padding: 30px;
  margin: 20px;
}