@font-face {
  font-family: "AkzidenzGroteskBECN";
  src: url('../fonts/akzidenzgroteskbecn-webfont.eot');
  src: url('../fonts/akzidenzgroteskbecn-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/akzidenzgroteskbecn-webfont.woff') format('woff'),  url('../fonts/akzidenzgroteskbecn-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkzidenzGroteskBECNBD";
  src: url('../fonts/akzidenzgroteskbexbdcn-webfont.eot');
  src: url('../fonts/akzidenzgroteskbexbdcn-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/akzidenzgroteskbexbdcn-webfont.woff') format('woff'),  url('../fonts/akzidenzgroteskbexbdcn-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "AkzidenzGroteskBECN", Sans-serif;
  /*background: #ffc425 ; */
  background: url(../img/bg.jpg) fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #333;
}

a:hover{
  text-decoration: none;
  color: #e11f27;
}

.navbar-default {
    background-color: #000000;
    border-color: #000000;
}

.navbar {
    border-radius: 0px;
}

.logo-mcd {
  position: absolute;
  top: -5px;
  margin-left: -70px;
}

.logo-kartuucapan{
  width: 100%;
  padding: 30px 0px;
}

.box-panel {
  padding: 10px 40px 20px 40px;
  background: #e11f27;
  color: #fff;
  box-shadow: 5px 7px 1px #b22420;
}

.form-textbox {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-textbox-captcha {
  display: block;
  width: 30%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-button{
  padding: 5px 60px;
  background: #e11f27;
  color: #fff;
  border-radius: 0px;
  box-shadow: 3px 5px 0px #b22420;
  border: none;
}

.form-choose{
  padding: 10px 20px;
  background: #fff;
  color: #e11f27;
  border-radius: 0px;
  box-shadow: 3px 5px 0px #b22420;
  border: none;
}

.form-button :hover{
  color: #ffc425;
}

.thanks-icon{
  width: 40%;
  padding: 10px;
}

.clear{
  height: 100px;
}

#errors{
  color: #ffc425;
}

.btn-close img{
  width: 30px;
  float: right;
  cursor:pointer;
}

.btn-close {
  width: 30px;
  cursor:pointer;
  float: right;
}

.thumbnail-img {
  width: 100px;
}
.thumbnail-img img{
  width: 100px;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    background: transparent;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.separator{
}

/* style untuk link popup */
a.popup-link {
padding:17px 0;
text-align: center;
margin:10% auto;
position: relative;
width: 300px;
color: #fff;
text-decoration: none;
background-color: #FFBA00;
border-radius: 3px;
box-shadow: 0 5px 0px 0px #eea900;
display: block;
}
a.popup-link:hover {
background-color: #ff9900;
box-shadow: 0 3px 0px 0px #eea900;
-webkit-transition:all 1s;
transition:all 1s;
}
/* end link popup*/
/* animasi popup */@-webkit-keyframes autopopup {
from {opacity: 0;margin-top:-200px;}
to {opacity: 1;}
}
@-moz-keyframes autopopup {
from {opacity: 0;margin-top:-200px;}
to {opacity: 1;}
}
@keyframes autopopup {
from {opacity: 0;margin-top:-200px;}
to {opacity: 1;}
}
/* end animasi popup */
/*style untuk popup */
#popup {
background-color: rgba(0,0,0,0.7);
position: fixed;
top:0;
left:0;
right:0;
bottom:0;
margin:0;
-webkit-animation:autopopup 2s;
-moz-animation:autopopup 2s;
animation:autopopup 2s;
}
#popup:target {
-webkit-transition:all 1s;
-moz-transition:all 1s;
transition:all 1s;
opacity: 0;
visibility: hidden;
}@media (min-width: 768px){
.popup-container {
width:600px;
}
}
@media (max-width: 767px){
.popup-container {
width:100%;
}
}
.popup-container {
position: relative;
margin:7% auto;
padding:30px 50px;
background-color: #fafafa;
color:#333;
border-radius: 3px;
}a.popup-close {
position: absolute;
top:3px;
right:3px;
background-color: #333;
padding:7px 10px;
font-size: 20px;
text-decoration: none;
line-height: 1;
color:#fff;
}
/* end style popup *//* style untuk isi popup */
.popup-form {
margin:10px auto;
}
.popup-form h2 {
margin-bottom: 5px;
font-size: 37px;
text-transform: uppercase;
}
.popup-form .input-group {
margin:10px auto;
}
.popup-form .input-group input {
padding:17px;
text-align: center;
margin-bottom: 10px;
border-radius:3px;
font-size: 16px;
display: block;
width: 100%;
}
.popup-form .input-group input:focus {
outline-color:#FB8833;
}
.popup-form .input-group input[type="email"] {
border:0px;
position: relative;
}
.popup-form .input-group input[type="submit"] {
background-color: #FB8833;
color: #fff;
border: 0;
cursor: pointer;
}
.popup-form .input-group input[type="submit"]:focus {
box-shadow: inset 0 3px 7px 3px #ea7722;
}
/* end style isi popup */